@import url('https://fonts.googleapis.com/css?family=Lato:300,300i,400,700|Playfair+Display');

* ,
*:before,
*:after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



html, body {
	height:  100%;
	font: 300 18px/1.8 Lato, sans-serif;
	color: #7a7a7a;
}

.main {
	width: 70%;
	margin: 150px auto 50px;
	padding: 140px 130px;
	box-shadow: 0 0 68px 0 rgba(0, 0, 0, .1)
}

.article h1 {
	font: 400 42px/1.6 'Playfair Display', serif;
	color: #171717;
	margin-bottom: 30px;
}

.text p:not(.letter) {
	padding-top: 50px;
}

.letter::first-letter {
	font: 400 110px 'Playfair Display', serif;
    font-size: 110px; 
    color: #171717;
    float: left;
    margin: -28px 35px -20px 0;
}

.quote {
	font: italic 400 24px/1.8 Lato, sans-serif;
}

.quote:before {
	content: '“';
	font-size: 60px;
	padding-right: 20px;
	font-style: italic;
}

.btn {
	display: inline-block;
	margin-top: 45px;
	font-weight: 700;
	width: 264px;
	padding: 8px 0;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	color: #eaa258;
	border: 2px solid #eaa258;
}

.btn:hover,
.btn:focus,
.btn:active {
	color: #fff;
	background-color: #eaa258;
}